<div class="dashboard-main-wrapper">


    
    <div class="dashboard-body">
        <!-- Breadcrumb Start -->
<div class="breadcrumb mb-24">
<ul class="flex-align gap-4">
    <li><a (click)="global.setRoute('home')" class="text-gray-200 fw-normal text-15 hover-text-main-600">Home</a></li>
    <li> <span class="text-gray-500 fw-normal d-flex"><i class="ph ph-caret-right"></i></span> </li>
    <li><span class="text-main-600 fw-normal text-15">Work Instruction</span></li>
</ul>
</div>
<!-- Breadcrumb End -->
         
        <div class="card overflow-hidden">
            <div class="card-body p-0">
                <div class="cover-img position-relative">
<!--                     <label for="coverImageUpload" class="btn border-gray-200 text-gray-200 fw-normal hover-bg-gray-400 rounded-pill py-4 px-14 position-absolute inset-block-start-0 inset-inline-end-0 mt-24 me-24">Edit Cover</label>
 -->                    <div class="avatar-upload">
                        <input type='file' id="coverImageUpload" accept=".png, .jpg, .jpeg">
                        <div class="avatar-preview">
                            <div id="coverImagePreview" style="
                                background: linear-gradient(45deg, #5e68ec, #7045bb) !important;
                                ">
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="setting-profile px-24" >
                    <div class="flex-between">
                        <div class="d-flex align-items-end flex-wrap mb-32 gap-24">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs4VzNPTA8izlJM_olcxD2dvfJK9dhnBv7Bex_DydZzKHvCA0ERfnRaGZu2AgdOOciqTo" alt="" class="w-120 h-120 rounded-circle border border-white">
                            <div>
                                <h4 class="mb-8">{{global.workInstructionSelected.companyName}}</h4>
                              
                                <div class="setting-profile__infos flex-align flex-wrap gap-16">
                                    <div class="flex-align gap-6">
                                        <span class="text-gray-600 d-flex text-lg"><i class="ph ph-user"></i></span>
                                        <span class="text-gray-600 d-flex text-15">{{global.workInstructionSelected.contactName}}</span>
                                    </div>
                                    <div class="flex-align gap-6">
                                        <span class="text-gray-600 d-flex text-lg"><i class="ph ph-map-pin"></i></span>
                                        <span class="text-gray-600 d-flex text-15">{{global.workInstructionSelected.billingAddress}}</span>
                                    </div>
                                    <div class="flex-align gap-6">
                                        <span class="text-gray-600 d-flex text-lg"><i class="ph ph-map-pin"></i></span>
                                        <span class="text-gray-600 d-flex text-15">{{global.workInstructionSelected.cityStateCountryZip}}</span>
                                    </div>
                                    <div class="flex-align gap-6">
                                        <span class="text-gray-600 d-flex text-lg"><i class="ph ph-phone"></i></span>
                                        <span class="text-gray-600 d-flex text-15">{{global.workInstructionSelected.mobile}}</span>
                                    </div>
                                    <div class="flex-align gap-6">
                                        <span class="text-gray-600 d-flex text-lg"><i class="ph ph-envelope-simple"></i></span>
                                        <span class="text-gray-600 d-flex text-15">{{global.workInstructionSelected.email}}</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav common-tab style-two nav-pills mb-0" id="pills-tab" role="tablist">
                        
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Work Instruction</button>
                        </li>
                         <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-password-tab" data-bs-toggle="pill" data-bs-target="#pills-password" type="button" role="tab" aria-controls="pills-password" aria-selected="false" 
                          [hidden]="auth.getCurrentUser()?.type !== 'supervisor' && auth.getCurrentUser()?.type !== 'admin'"
                          >Technicals</button>
                        </li>
                        
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-billing-tab" data-bs-toggle="pill" data-bs-target="#pills-billing" type="button" role="tab" aria-controls="pills-billing" aria-selected="false">Customer details</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-notification-tab" data-bs-toggle="pill" data-bs-target="#pills-notification" type="button" role="tab" aria-controls="pills-notification" aria-selected="false">Activity</button>
                        </li>
                    </ul>
                </div>

                


            </div>
        </div>

        <div class="tab-content" id="pills-tabContent">
            <!-- workinstruction Tab Start -->
            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                <div class="row gy-4">
                    <div class="col-lg-12">
                        <div class="card mt-24">
                            <div class="card-body">
                                <div class="row gy-4">
                                    <div class="col-xxl-4 col-xl-6 col-md-4 col-sm-6">
                                        <div class="statistics-card p-xl-4 p-16 flex-align gap-10 rounded-8 bg-main-50">
                                            <span class="text-white bg-main-600 w-36 h-36 rounded-circle flex-center text-xl flex-shrink-0"><i class="ph ph-users-three"></i></span>
                                            <div>
                                                <h4 class="mb-0">Manager:</h4>
                                                <span class="fw-medium text-main-600"> {{global.workInstructionSelected.mananger}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-6 col-md-4 col-sm-6">
                                        <div class="statistics-card p-xl-4 p-16 flex-align gap-10 rounded-8 bg-info-50">
                                            <span class="text-white bg-info-600 w-36 h-36 rounded-circle flex-center text-xl flex-shrink-0"><i class="ph ph-users-three"></i></span>
                                            <div>
                                                <h4 class="mb-0">Engineer:</h4>
                                                <span class="fw-medium text-info-600">{{global.workInstructionSelected.engineer}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-6 col-md-4 col-sm-6">
                                        <div class="statistics-card p-xl-4 p-16 flex-align gap-10 rounded-8 bg-purple-50">
                                            <span class="text-white bg-purple-600 w-36 h-36 rounded-circle flex-center text-xl flex-shrink-0"><i class="ph ph-thumbs-up"></i></span>
                                            <div>
                                                <h4 class="mb-0">Supervisor:</h4>
                                                <span class="fw-medium text-purple-600">{{global.getSupervisorName(global.workInstructionSelected.supervisorId)}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-24">
                                    <h4 class="mb-8">Details Work Instruction</h4>
                                    <div class="flex-align gap-8 flex-wrap mb-16">
                                        <span class="flex-center w-36 h-36 text-main-600 bg-main-100 rounded-circle text-xl"> 
                                            <i class="ph ph-number-circle-one"></i>
                                        </span>
                                        <div class="flex-align gap-8 flex-wrap text-gray-600">
                                            <span>Number of Control: {{global.workInstructionSelected.numberOfControl}}</span>
                                        </div>
                                    </div>
                                    <div class="flex-align gap-8 flex-wrap mb-16">
                                        <span class="flex-center w-36 h-36 text-main-600 bg-main-100 rounded-circle text-xl"> 
                                            <i class="ph ph-number-circle-two"></i>
                                        </span>
                                        <div class="flex-align gap-8 flex-wrap text-gray-600">
                                            <span>Area: {{global.workInstructionSelected.area}}</span>
                                        </div>
                                    </div>
                                    <div class="flex-align gap-8 flex-wrap mb-16">
                                        <span class="flex-center w-36 h-36 text-main-600 bg-main-100 rounded-circle text-xl"> 
                                            <i class="ph ph-number-circle-three"></i>
                                        </span>
                                        <div class="flex-align gap-8 flex-wrap text-gray-600">
                                            <span>Part Number: {{global.workInstructionSelected.partNumber}}</span>
                                        </div>
                                    </div>
                                    <div class="flex-align gap-8 flex-wrap mb-16">
                                        <span class="flex-center w-36 h-36 text-main-600 bg-main-100 rounded-circle text-xl"> 
                                            <i class="ph ph-number-circle-four"></i>
                                        </span>
                                        <div class="flex-align gap-8 flex-wrap text-gray-600">
                                            <span>Operation: {{global.workInstructionSelected.operation}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <!--  <div class="card mt-24">
                            <div class="card-body">
                                <h6 class="mb-12">About Me</h6>
                                <div class="recent-post rounded-8 border border-gray-100 p-16 d-flex gap-12 mb-16">
                                    <div class="d-inline-flex w-100 max-w-130 flex-shrink-0">
                                        <img src="assets/images/thumbs/recent-post-img1.png" alt="" class="rounded-6 cover-img max-w-130">
                                    </div>
                                    <div>
                                        <p class="text-gray-600 text-line-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo pellentesque massa tellus ac augue. Lectus arcu at in in rhoncus malesuada ipsum turpis.</p>
                                        <div class="flex-align gap-8 mt-24">
                                            <img src="assets/images/thumbs/user-img1.png" alt="" class="w-32 h-32 rounded-circle cover-img">
                                            <span class="text-gray-600 text-13">Michel Bruice</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-post rounded-8 border border-gray-100 p-16 d-flex gap-12 mb-16">
                                    <div class="d-inline-flex w-100 max-w-130 flex-shrink-0">
                                        <img src="assets/images/thumbs/recent-post-img2.png" alt="" class="rounded-6 cover-img max-w-130">
                                    </div>
                                    <div>
                                        <p class="text-gray-600 text-line-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo pellentesque massa tellus ac augue. Lectus arcu at in in rhoncus malesuada ipsum turpis.</p>
                                        <div class="flex-align gap-8 mt-24">
                                            <img src="assets/images/thumbs/user-img2.png" alt="" class="w-32 h-32 rounded-circle cover-img">
                                            <span class="text-gray-600 text-13">Sara Smith</span>
                                        </div>
                                    </div>
                                </div>

                                <h6 class="mb-12 mt-24">Add New Post</h6>
                                <div class="editor style-two">
                                    <div id="editorTwo">
                                        <p>Write something new...</p>
                                    </div>
                                </div>

                                <div class="flex-between flex-wrap gap-8 mt-24">
                                    <div class="flex-align flex-wrap gap-8">
                                        <button type="button" class="flex-center w-26 h-26 text-gray-600 bg-gray-50 hover-bg-gray-100 rounded-circle text-md"> 
                                            <i class="ph ph-smiley"></i>
                                        </button>
                                        <button type="button" class="flex-center w-26 h-26 text-gray-600 bg-gray-50 hover-bg-gray-100 rounded-circle text-md"> 
                                            <i class="ph ph-camera"></i>
                                        </button>
                                        <button type="button" class="flex-center w-26 h-26 text-gray-600 bg-gray-50 hover-bg-gray-100 rounded-circle text-md"> 
                                            <i class="ph ph-image"></i>
                                        </button>
                                        <button type="button" class="flex-center w-26 h-26 text-gray-600 bg-gray-50 hover-bg-gray-100 rounded-circle text-md"> 
                                            <i class="ph ph-video-camera"></i>
                                        </button>
                                        <button type="button" class="flex-center w-26 h-26 text-gray-600 bg-gray-50 hover-bg-gray-100 rounded-circle text-md"> 
                                            <i class="ph ph-google-drive-logo"></i>
                                        </button>
                                    </div>
                                    <button type="submit" class="btn btn-main rounded-pill py-9"> Post Now</button>
                                </div>
                                
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- workinstruction Tab End -->

            <!-- technical Tab Start -->
            <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab" tabindex="0">
                <div class="card mt-24">
                    <div class="card-header border-bottom">
                        <h4 class="mb-4">Technicals Assigned</h4>
                        Técnico: {{ getTechnicalName(global.workInstructionSelected?.technicalId) }}

                        <h4 class="mb-4">Assign Technicals</h4>
                        <p class="text-gray-600 text-15">Assign the technicals to the work instruction</p>
                  
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form (ngSubmit)="updateTechnicals()">
                                    <div class="row gy-4">
                                        <div class="col-12">
                                            <label for="technician-select" class="form-label mb-8 h6">Select technical</label>
                                            <div class="position-relative">
                                                <select class="form-control py-11" id="technicianId" 
                                                            [(ngModel)]="selectedtechnicalId" 
                                                            name="technicianId"
                                                            required>
                                                    <option value="" disabled selected>Seleccionar un técnico</option>
                                                    <option *ngFor="let technical of realtimeTechnicals.technicals$ | async" 
                                                            [value]="technical.id">
                                                        {{technical.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="flex-align justify-content-end gap-8">
                                                <button type="button" class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-9" 
                                                        (click)="cancelUpdate()">
                                                    Cancelar
                                                </button>
                                                <button type="submit" class="btn btn-main rounded-pill py-9" 
                                                        [disabled]="!selectedtechnicalId">
                                                    Guardar Cambios
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- technical Tab End -->

            <!-- customer Tab Start -->
            <div class="tab-pane fade" id="pills-billing" role="tabpanel" aria-labelledby="pills-billing-tab" tabindex="0">
                <div class="row gy-4">
                    <div class="col-lg-12">
                        <div class="card mt-24">
                            <div class="card-body">
                                <div class="row gy-4">
                                    <div class="col-xxl-4 col-xl-6 col-md-4 col-sm-6">
                                        <div class="statistics-card p-xl-4 p-16 flex-align gap-10 rounded-8 bg-main-50">
                                            <span class="text-white bg-main-600 w-36 h-36 rounded-circle flex-center text-xl flex-shrink-0"><i class="ph ph-users-three"></i></span>
                                            <div>
                                                <h4 class="mb-0">Contact Position</h4>
                                                <span class="fw-medium text-main-600"> {{global.workInstructionSelected.financeContactPosition}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-6 col-md-4 col-sm-6">
                                        <div class="statistics-card p-xl-4 p-16 flex-align gap-10 rounded-8 bg-info-50">
                                            <span class="text-white bg-info-600 w-36 h-36 rounded-circle flex-center text-xl flex-shrink-0"><i class="ph ph-users-three"></i></span>
                                            <div>
                                                <h4 class="mb-0">Contact Number:</h4>
                                                <span class="fw-medium text-info-600">{{global.workInstructionSelected.financeContactNumber}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-6 col-md-4 col-sm-6">
                                        <div class="statistics-card p-xl-4 p-16 flex-align gap-10 rounded-8 bg-purple-50">
                                            <span class="text-white bg-purple-600 w-36 h-36 rounded-circle flex-center text-xl flex-shrink-0"><i class="ph ph-thumbs-up"></i></span>
                                            <div>
                                                <h4 class="mb-0">Email:</h4>
                                                <span class="fw-medium text-purple-600">{{global.workInstructionSelected.financeEmail}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
            <!-- customer Tab End -->

            <!-- Notification Tab Start -->
            <div class="tab-pane fade" id="pills-notification" role="tabpanel" aria-labelledby="pills-notification-tab" tabindex="0">
                <div class="card mt-24">
                    <div class="card mt-24">
                        <div class="card-header border-bottom">
                            <div class="flex-between flex-wrap  gap-16">
                                <div>
                                    <h4 class="mb-4">Billing History</h4>
                                    <p class="text-gray-600 text-15">See the transaction you made</p>
                                </div>
                                <div class="flex-align flex-wrap justify-content-end gap-8">
                                    <button type="button" class="toggle-search-btn btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-9">Add Filter</button>
                                    <button type="button" class="btn btn-main rounded-pill py-9">Download All</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card toggle-search-box border-bottom border-gray-100 rounded-0">
                            <div class="card-body">
                                <form action="setting.html#" class="search-input-form">
                                    <div class="search-input">
                                        <select class="form-control form-select h6 rounded-4 mb-0 py-6 px-8">
                                            <option value="" selected disabled>Invoice Type</option>
                                            <option value="">Credit Invoice</option>
                                            <option value="">Debit Invoice</option>
                                            <option value="">Mixed Invoice</option>
                                            <option value="">Commercial Invoice</option>
                                        </select>
                                    </div>
                                    <div class="search-input">
                                        <select class="form-control form-select h6 rounded-4 mb-0 py-6 px-8">
                                            <option value="" selected disabled>amount</option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                        </select>
                                    </div>
                                    <div class="search-input">
                                        <input type="date" class="form-control form-select h6 rounded-4 mb-0 py-6 px-8">
                                    </div>
                                    <div class="search-input">
                                        <select class="form-control form-select h6 rounded-4 mb-0 py-6 px-8">
                                            <option value="" selected disabled>plan</option>
                                            <option value="">Basic Plan</option>
                                            <option value="">Standard Plan</option>
                                            <option value="">Premium Plan </option>
                                        </select>
                                    </div>
                                    <div class="search-input">
                                        <button type="submit" class="btn btn-main rounded-pill py-9 w-100">Apply Filter</button>
                                    </div>
                                </form>                    
                            </div>
                        </div>
    
                        <div class="card-body p-0 overflow-x-auto">
                            <table id="studentTable" class="table table-lg table-striped w-100">
                                <thead>
                                    <tr>
                                        <th class="fixed-width w-40 h-40 ps-20">
                                            <div class="form-check">
                                                <input class="form-check-input border-gray-200 rounded-4" type="checkbox" id="selectAll">
                                            </div>
                                        </th>
                                        <th class="h6 text-gray-600">
                                            <span class="position-relative">
                                                Invoices
                                            </span>
                                        </th>
                                        <th class="h6 text-gray-600 text-center">Amount</th>
                                        <th class="h6 text-gray-600 text-center">Dates</th>
                                        <th class="h6 text-gray-600 text-center">Status</th>
                                        <th class="h6 text-gray-600 text-center">Plan</th>
                                        <th class="h6 text-gray-600 text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="fixed-width w-40 h-40">
                                            <div class="form-check">
                                                <input class="form-check-input border-gray-200 rounded-4" type="checkbox">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex-align gap-10">
                                                <div class="w-32 h-32 bg-gray-50 flex-center rounded-circle p-2"> 
                                                    <img src="assets/images/thumbs/invoice-logo1.png" alt="" class="">
                                                </div>
                                                <div class="">
                                                    <h6 class="mb-0">Design Accesibility</h6>
                                                    <span class="text-13 fw-medium text-gray-200">Edmate - #012500</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">$180</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">06/22/2024</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-success-600 bg-success-100 py-2 px-10 rounded-pill">Paid</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">Basic</span>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-12">Download</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fixed-width w-40 h-40">
                                            <div class="form-check">
                                                <input class="form-check-input border-gray-200 rounded-4" type="checkbox">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex-align gap-10">
                                                <div class="w-32 h-32 bg-gray-50 flex-center rounded-circle p-2"> 
                                                    <img src="assets/images/thumbs/invoice-logo2.png" alt="" class="">
                                                </div>
                                                <div class="">
                                                    <h6 class="mb-0">Design System</h6>
                                                    <span class="text-13 fw-medium text-gray-200">Edmate - #012500</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">$250</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">06/22/2024</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-info-600 bg-info-100 py-2 px-10 rounded-pill">Unpaid</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">Professional</span>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-12">Download</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fixed-width w-40 h-40">
                                            <div class="form-check">
                                                <input class="form-check-input border-gray-200 rounded-4" type="checkbox">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex-align gap-10">
                                                <div class="w-32 h-32 bg-gray-50 flex-center rounded-circle p-2"> 
                                                    <img src="assets/images/thumbs/invoice-logo1.png" alt="" class="">
                                                </div>
                                                <div class="">
                                                    <h6 class="mb-0">Frondend Develop</h6>
                                                    <span class="text-13 fw-medium text-gray-200">Edmate - #012500</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">$128</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">06/22/2024</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-success-600 bg-success-100 py-2 px-10 rounded-pill">Paid</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">Basic</span>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-12">Download</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fixed-width w-40 h-40">
                                            <div class="form-check">
                                                <input class="form-check-input border-gray-200 rounded-4" type="checkbox">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex-align gap-10">
                                                <div class="w-32 h-32 bg-gray-50 flex-center rounded-circle p-2"> 
                                                    <img src="assets/images/thumbs/invoice-logo1.png" alt="" class="">
                                                </div>
                                                <div class="">
                                                    <h6 class="mb-0">Design Usability</h6>
                                                    <span class="text-13 fw-medium text-gray-200">Edmate - #012500</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">$132</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">06/22/2024</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-info-600 bg-info-100 py-2 px-10 rounded-pill">Unpaid</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">Basic</span>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-12">Download</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fixed-width w-40 h-40">
                                            <div class="form-check">
                                                <input class="form-check-input border-gray-200 rounded-4" type="checkbox">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex-align gap-10">
                                                <div class="w-32 h-32 bg-gray-50 flex-center rounded-circle p-2"> 
                                                    <img src="assets/images/thumbs/invoice-logo4.png" alt="" class="">
                                                </div>
                                                <div class="">
                                                    <h6 class="mb-0">Digital Marketing</h6>
                                                    <span class="text-13 fw-medium text-gray-200">Edmate - #012500</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">$186</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">06/22/2024</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-success-600 bg-success-100 py-2 px-10 rounded-pill">Paid</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-gray-600">Advance</span>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-12">Download</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer border-top border-gray-100">
                            <div class="flex-align justify-content-end gap-8">
                                <button type="reset" class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-9">Cancel</button>
                                <button type="submit" class="btn btn-main rounded-pill py-9">Save  Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Notification Tab End -->

        </div>
    </div>
    
</div>