<div class="dashboard-main-wrapper">
    <div class="card mt-24">        
      <div class="card-body">
        
        <!-- Header y botón de agregar -->
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="mb-20">Customers</h4>
          
        </div>
  
        <!-- Tarjetas de Supervisores -->
        <div class="row g-20 pt-24" >
          <div class="col-xl-3 col-md-4 col-sm-6" *ngFor="let customer of (realtimeCustomers.customers$ | async)">
            <div class="mentor-card rounded-8 overflow-hidden">
              <div class="mentor-card__cover position-relative" style="background-color: black;">
              </div>
              <div class="mentor-card__content text-center">
                <div class="w-56 h-56 rounded-circle overflow-hidden border border-white d-inline-block" >
                  <a >
                    <img src="assets/images/thumbs/mentor-img1.png" alt="" class="mentor-card__img cover-img">
                  </a>
                </div>
                <h5 class="mb-0">
                  <a >{{ customer.name }}</a>
                </h5>
                <div class="mentor-card__rating mt-20 border border-gray-100 px-8 py-6 rounded-8 flex-between flex-wrap">
                  <div class="flex-align gap-4">
                    <span class="text-15 fw-normal text-main-600 d-flex"><i class="ph-fill ph-envelope"></i></span>
                    <span class="text-13 fw-normal text-gray-600">{{ customer.email }} </span>
                  </div>
                  <div class="flex-align gap-4">
                    <span class="text-15 fw-normal text-warning-600 d-flex"><i class="ph-fill ph-phone"></i></span>
                    <span class="text-13 fw-normal text-gray-600">{{ customer.phone }}</span>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

